/////////////////////////////////////////////////////////////////////////////////
//
//  Common.xcconfig
//  DinaIP
//
/////////////////////////////////////////////////////////////////////////////////

//============================================================================
// MODIFIABLE SETTINGS

// Naming seetings
PRODUCT_NAME = DinaIP
COMPANY_DOMAIN = com.dinahosting
PRODUCT_COPYRIGHT = Copyright (c) ${YEAR}, ${COMPANY_DOMAIN}, All Rights Reserved.

// Version settings
PRODUCT_VERSION = 1.0
BUILD_NUMBER = 1
//============================================================================


//============================================================================
// PERSISTENT SETTINGS

// Supported architectures and deployment
ARCHS = i386 x86_64
SDKROOT = ${DEVELOPER_SDK_DIR}/MacOSX10.6.sdk
MACOSX_DEPLOYMENT_TARGET = 10.5

OBJROOT = Builds
SYMROOT = Builds

// Installation
DSTROOT = /tmp/${PRODUCT_NAME}
INSTALL_PATH = /Applications
SKIP_INSTALL = NO

// All below is compiler settings (not expected to be modified)
ZERO_LINK = NO
PREBINDING = NO
SEPARATE_STRIP = YES

GCC_VERSION=4.2
GCC_C_LANGUAGE_STANDARD = c99
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_DYNAMIC_NO_PIC = YES
GCC_FAST_OBJC_DISPATCH = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
RUN_CLANG_STATIC_ANALYZER = YES

INFOPLIST_PREPROCESS = YES
ALWAYS_SEARCH_USER_PATHS = YES

// Activate as much warnings as possible
GCC_WARN_64_TO_32_BIT_CONVERSION[arch=*64*] = YES

OTHER_CFLAGS = -Wdiv-by-zero -Wbad-function-cast  -Wnested-externs -Wold-style-definition

WARNING_CFLAGS1 = -Wall -Wendif-labels -Winvalid-pch -Wformat=1 -Wmissing-format-attribute -Wwrite-strings -Wstack-protector -Wstrict-aliasing=2
WARNING_CFLAGS2 = -Wpacked -Wmissing-field-initializers
EXTRA_WARNING_CFLAGS = -Wno-unused-parameter -Wno-sign-compare
WARNING_CFLAGS3 = -Wextra $(EXTRA_WARNING_CFLAGS) -Wpointer-arith -Wdisabled-optimization -Wfloat-equal
WARNING_CFLAGS = $(WARNING_CFLAGS1) $(WARNING_CFLAGS2) $(WARNING_CFLAGS3)

GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_PEDANTIC = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_PROTOTYPE_CONVERSION = NO
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = NO
GCC_TREAT_NONCONFORMANT_CODE_ERRORS_AS_WARNINGS = NO
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
